<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" class="navbar bg-primary">
      <a class="navbar-brand" href="#">🔻Bienvenid@ al Sistema de Alumnos 3.0🔻</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">🏚️Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">🔻Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">🔻Lista de Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">🔻Reclamos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>